[program:high]
autorestart=true
command=php artisan queue:work --daemon --delay --tries=3 --sleep=3 --queue=high
directory=/data/srv/angejia/current/app-job
numprocs=6
process_name=%(program_name)s_%(process_num)02d
redirect_stderr=true
stdout_logfile=/var/log/high.log
user=www-data
