upstream account-backend {
	{% for host in groups['app'] -%}
	server {{ host }}:80;
	{% endfor -%}

}

server {
	listen         80;
	listen         443 ssl;
	server_name    home.corp.angejia.com;

	ssl_certificate      /etc/nginx/ssl/home.corp.angejia.com.crt;
	ssl_certificate_key  /etc/nginx/ssl/home.corp.angejia.com.key;

	ssl_session_cache          off;
	ssl_ciphers                HIGH:!aNULL:!MD5;
	ssl_prefer_server_ciphers  off;

	set_by_lua $trace_id '
		if ngx.var.http_trace_id == nil then
			return uuid4.getUUID()
		else
			return ngx.var.http_trace_id
		end
	';

	location / {
		include                proxy_params;
		proxy_pass             http://account-backend/;

		proxy_connect_timeout  5s;
		proxy_send_timeout     5s;
		proxy_read_timeout     15s;
	}
}

server {
	listen         443 ssl;
	server_name    account.angejia.com;

	ssl_certificate      /etc/nginx/ssl/account.angejia.com.crt;
	ssl_certificate_key  /etc/nginx/ssl/account.angejia.com.key;

	ssl_session_cache          shared:SSL:1m;
	ssl_session_timeout        5m;
	ssl_ciphers                HIGH:!aNULL:!MD5;
	ssl_prefer_server_ciphers  on;

	set_by_lua $trace_id '
		if ngx.var.http_trace_id == nil then
			return uuid4.getUUID()
		else
			return ngx.var.http_trace_id
		end
	';

	location / {
		include                proxy_params;
		proxy_pass             http://account-backend/;

		proxy_connect_timeout  5s;
		proxy_send_timeout     5s;
		proxy_read_timeout     15s;
	}
}
